#preloader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

*::-webkit-scrollbar{
    background: #161710;
}

*::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background-color: #3f51b5;
}

body::-webkit-scrollbar{
    background-color: #161710 !important;
}

body::-webkit-scrollbar-thumb{
    background-color: #161710 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px black inset;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-text-fill-color: white !important;
}
